<div class="jumbotron">
  <div class="container">
<div class="row">
  <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
    <img src="/assets/logo.png" class="img-responsive"/>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <h1>Ruby On Rails Sample App</h1>
    <p>Simple web application for a CRUD set of operations for a store and articles in each store</p>
    <p>also an API is provided to expose CRUD functionality for the articles and stores</p>
    <a class="btn btn-info" href="/stores">TRY IT</a>
  </div>
</div>

    <div class="row">
      <p></p>
    </div>
  </div>
</div>
