<!DOCTYPE html>
<html lang="es">
<head>
  <title>TestProject</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Super Zapatos</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/stores">Stores</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<div id="main-container" class="container" style="background-color: white; padding-top: 70px">
  <div class="row" style="text-align: center">
    <%= yield %>
  </div>
</div>
</body>
</html>
